# Topic vaise intereview questions

# loop statment question

# star print

defferents - 2 star print question

Q.  *
    **
    ***
    ****

In [6]:
for i in range(5):
    for j in range (i):
        print("*",end="")
    print()

*
**
***
****

Q.     *
      **
     ***
    ****

In [12]:
for row in range(5):
    for space in range(5-row):
        print(" ",end='')
    for colummn in range(row):
        print("*",end ="")
    print()

    *
   **
  ***
 ****

Q.      *
       ***
      *****
     *******

In [16]:
for row in range(5):
    for space in range(5-row):
        print(" ", end = "")
    for column in range(row * 2 +1):
        print("*",end = "")
    print()

     *
    ***
   *****
  *******
 *********

Q.  *******
     *****
      ***
       *

In [20]:
 for row in range(4):
        for space in range(row):
            print(" ",end = '')
        for column in range(7-row*2):
            print("*",end="")
        print()

*******
 *****
  ***
   *

Q.    *****
      ****
      ***
      **
      *

In [21]:
for row in range(5):
    for column in range(5-row):
        print("*",end="")
    print()

*****
****
***
**
*

Q.   *****
      ****
       ***
        **
         *

In [11]:
for row in range(5):
    for space in range(row):
        print("-", end="")
    for column in range(5-row):
        print("*",end="")
    print()

*****
-****
--***
---**
----*

Q.      *
       ***
      *****
       ***
        *

In [8]:
for row in range(4):
    for space1 in range(4-row-1):
        print("-",end='')
    for column1 in range(row*2+1):
        print("*",end="")
    print()
for row2 in range(4):
    for space in range(row2):
        print("-",end="")
    for column in range(7-row2*2):
        print("*",end="")
    print()

---*
--***
-*****
*******
*******
-*****
--***
---*

# List questions

Exercise 1: Reverse a list in Python
Exercise 2: Concatenate two lists index-wise
Exercise 3: Turn every item of a list into its square
Exercise 4: Concatenate two lists in the following order
Exercise 5: Iterate both lists simultaneously
Exercise 6: Remove empty strings from the list of strings
Exercise 7: Add new item to list after a specified item
Exercise 8: Extend nested list by adding the sublist
Exercise 9: Replace list’s item with new value if found
Exercise 10: Remove all occurrences of a specific item from a list.

Exercise 1 Reverse a list in python

In [12]:
list1 = [90,44,2,3,8,6,4,9,2,1]

In [ ]:
# negative slicing

In [13]:
list1[::-1]

[1, 2, 9, 4, 6, 8, 3, 2, 44, 90]

In [ ]:
# reverse methode use

In [21]:
list1.reverse()
print(list1)

[1, 2, 9, 4, 6, 8, 3, 2, 44, 90]

Exercise 2: Concatenate two lists index-wise

In [89]:
list0 = ["vic","ku","sa"]
list01 = ["ky","mar","ini"]
list02 = [x + y for x,y in zip(list0,list01)]
print(list02)

['vicky', 'kumar', 'saini']

Exercise 3: Turn every item of a list into its square

In [29]:
list5 = [1,4,2,6,9,5]

In [30]:
list6 = []
for ele in list5:
    result = ele ** 2
    list6.append(result)
print(list6)

[1, 16, 4, 36, 81, 25]

In [32]:
# list compharence 
rev = [k * k for k in list5]
print(rev)

[1, 16, 4, 36, 81, 25]

Exercise 4: Concatenate two lists in the following order

In [33]:
list2 = ["vicky",234,"ramu",977,"saini"]
list3 = [12234,4322,"kumar",8689,"kartoos"]

print(list2+list3)

['vicky', 234, 'ramu', 977, 'saini', 12234, 4322, 'kumar', 8689, 'kartoos']

Exercise 5: Iterate both lists simultaneously

In [47]:
list2 = ["vicky",234,"ramu",977,"saini"]
list3 = [12234,4322,"kumar",8689,"kartoos"]

for x,y in zip(list2 , list3[::-1]):
    print(x,y)

vicky kartoos
234 8689
ramu kumar
977 4322
saini 12234

Exercise 6: Remove empty strings from the list of strings

In [54]:
list2 = ["vicky",234,"","ramu",977,"saini","",4444,'']

In [58]:
for str3 in list2:
    if str3 == "":
        list2.remove(str3)
print(list2)

['vicky', 234, 'ramu', 977, 'saini', 4444]

Exercise 7: Add new item to list after a specified item

In [68]:
list3 = [12234,[400,["www",9800],22,4322,"kumar"],8689,"kartoos"]
list3[1][1].append(7000)
list3

[12234, [400, ['www', 9800, 7000], 22, 4322, 'kumar'], 8689, 'kartoos']

Exercise 8: Extend nested list by adding the sublist

In [74]:
list7 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]

In [75]:
list7[2][1][2].extend(sub_list)
list7

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

Exercise 9: Replace list’s item with new value if found

In [ ]:
# using indexing

In [76]:
list8 = [5, 10, 15, 20, 25, 50, 20]

In [79]:
list8[3]=200
list8

[5, 10, 15, 200, 25, 50, 20]

In [80]:
#  using for loop

In [82]:
for ele in range(len(list8)):
    if list8[ele] == 25:
        list8[ele]=5000
print(list8)

[5, 10, 15, 200, 5000, 50, 20]

Exercise 10: Remove all occurrences of a specific item from a list.

In [86]:
list9 = [5, 20, 15, 20, 25, 50, 20]
num = 20

In [87]:
# using for loop

In [88]:
for ele3 in list9:
    if ele3 == num:
        list9.remove(ele3)
print(list9)

[5, 15, 25, 50]

In [1]:
#

# Dictionary Exrcise

Exercise 1: Convert two lists into a dictionary
Exercise 2: Merge two Python dictionaries into one
Exercise 3: Print the value of key ‘history’ from the below dict
Exercise 4: Initialize dictionary with default values
Exercise 5: Create a dictionary by extracting the keys from a given dictionary
Exercise 6: Delete a list of keys from a dictionary
Exercise 7: Check if a value exists in a dictionary
Exercise 8: Rename key of a dictionary
Exercise 9: Get the key of a minimum value from the following dictionary
Exercise 10: Change value of a key in a nested dictionary

Exercise 1: Convert two lists into a dictionary

In [2]:
list11 = ["id","name","address"]
list12 = [1232,"vicky","japur"]
newdict = {}
for key in list11:
    for value in list12:
        newdict[key]=value
        list12.remove(value)
        break
print(newdict)

{'id': 1232, 'name': 'vicky', 'address': 'japur'}

Exercise 2: Merge two Python dictionaries into one

In [5]:
dict1 = {'id': 1232, 'name': 'vicky', 'address': 'japur'}
dict2 = {"city":"chomu", "state":"rajasthan"}
a={**dict1,**dict2}
print(a)

{'id': 1232, 'name': 'vicky', 'address': 'japur', 'city': 'chomu', 'state': 'rajasthan'}

In [7]:
dict3 = dict1.copy()
dict3.update(dict2)
print(dict3)

{'id': 1232, 'name': 'vicky', 'address': 'japur', 'city': 'chomu', 'state': 'rajasthan'}

Exercise 3: Print the value of key ‘history’ from the below dict

In [8]:
sampleDict = {"class": {"student": {"name": "Mike","marks": {"physics": 70,"history": 80}}}}

print(sampleDict["class"]["student"]["marks"]["history"])

80

Exercise 4: Initialize dictionary with default values

In [9]:
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}
newdict2 = {}
for res in employees:
    newdict2[res]=defaults
print(newdict2)

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}

Exercise 5: Create a dictionary by extracting the keys from a given dictionary

In [1]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

list31 = ["name","salary"]
dict34 = {}
for listkey in list31:
    for key in sample_dict.keys():
        if listkey == key:
            rev = sample_dict[key]
            dict34[key]=rev
print(dict34)

{'name': 'Kelly', 'salary': 8000}

In [4]:
# or

dict198 = {k: sample_dict[k] for k in list31}
print(dict198)

{'name': 'Kelly', 'salary': 8000}

Exercise 6: Delete a list of keys from a dictionary

In [5]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

# Keys to remove
keys = ["name", "salary"]


for key in keys:
    sample_dict.pop(key)
print(sample_dict)

{'age': 25, 'city': 'New york'}

Exercise 7: Check if a value exists in a dictionary

In [11]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

value = 8000

for valu in sample_dict.values():
    if value == valu:
        print("yes")

yes

Exercise 8: Rename key of a dictionary

In [12]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

sample_dict["price"]= sample_dict.pop("salary")
sample_dict

{'name': 'Kelly', 'age': 25, 'city': 'New york', 'price': 8000}

Exercise 9: Get the key of a minimum value from the following dictionary

In [43]:
dict65 = {"math":50,"english":0.60,"Hindi":80}
list42 = []
dict31 ={}
for valu in dict65.values():
    list42.append(valu)
list42.sort()
aa=list42[0]
for key in dict65.keys():
    rev = dict65[key]
    if rev == aa:
        dict31[key]=aa
dict31

{'english': 0.6}

In [48]:
keysd = dict65.get
print(keysd)

<built-in method get of dict object at 0x00DC8DC0>

Exercise 10: Change value of a key in a nested dictionary

In [50]:
sample_dict = {'emp1': {'name': 'Jhon', 'salary': 7500},'emp2': {'name': 'Emma', 'salary': 8000},'emp3': {'name': 'Brad', 'salary': 500}}

print(sample_dict["emp3"]["salary"])

500

# Tuple Exercise

Exercise 1: Reverse the tuple
Exercise 2: Access value 20 from the tuple
Exercise 3: Create a tuple with single item 50
Exercise 4: Unpack the tuple into 4 variables
Exercise 5: Swap two tuples in Python
Exercise 6: Copy specific elements from one tuple to a new tuple
Exercise 7: Modify the tuple
Exercise 8: Sort a tuple of tuples by 2nd item
Exercise 9: Counts the number of occurrences of item 50 from a tuple
Exercise 10: Check if all items in the tuple are the same

Exercise 1: Reverse the tuple

In [14]:
tuple1 = (10, 20, 30, 40, 50)
li = list(tuple1)
li.reverse()
rev = tuple(li)
print(rev)
print(type(rev))

(50, 40, 30, 20, 10)
<class 'tuple'>

In [18]:
tuple1=tuple1[::-1]
tuple1

(50, 40, 30, 20, 10)

In [20]:
listf = [89,34,76,1,55]
a=listf[::-1]
a

[55, 1, 76, 34, 89]

Exercise 2: Access value 20 from the tuple

In [1]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
result = tuple1[1][1]
print(result)

20

Exercise 3: Create a tuple with single item 50

In [19]:
tuple2 = (50,)
print(tuple2)
print(type(tuple2))

(50,)
<class 'tuple'>

Exercise 4: Unpack the tuple into 4 variables

In [3]:
tuple1 = ("name","id", "jaipur","good")
(vicky, any_num, address, mornig) = tuple1
print(vicky)
print(any_num)
print(address)
print(mornig)

name
id
jaipur
good

Exercise 5: Swap two tuples in Python

In [6]:
tupl1 = (11, 22)
tupl2 = (99, 88)

tupl3 = tupl1
tupl1 = tupl2
tupl2 = tupl3
print("tuple1 ", tupl1)
print("tuple2 ", tupl2)

tuple1  (99, 88)
tuple2  (11, 22)

In [9]:
tuple21 = (42,98)
tuple22 = (90,23)

tuple21,tuple22 = tuple22, tuple21

print("tuple21 ",tuple21)
print("tuple22 ",tuple22)

tuple21  (90, 23)
tuple22  (42, 98)

Exercise 6: Copy specific elements from one tuple to a new tuple

In [15]:
tuple11 = (11, 22, 33, 44, 55, 66)
copy = [44,55]
listele = []
for ele in tuple11:
    if ele in copy:
        listele.append(ele)
tupl21 = tuple(listele)
print("tuple21 ",tupl21)

tuple21  (44, 55)

In [26]:
tuple32 = (11, 22, 33, 44, 55, 66)
tuple43 = tuple32[-1:-1]
tuple43

()

Exercise 7: Modify the tuple

In [21]:
# modify 22 element
tuple1 = (11, [22, 33], 44, 55)

In [23]:
tuple1[1][0]=222
print(tuple1)

(11, [222, 33], 44, 55)

Exercise 8: Sort a tuple of tuples by 2nd item

In [29]:
tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))

In [35]:
rev = sorted(tuple1)
rev = tuple(rev)
print(rev)

(('a', 23), ('b', 37), ('c', 11), ('d', 29))

Exercise 9: Counts the number of occurrences of item 50 from a tuple

In [43]:
tuple1 = (50, 10, 60, 70, 50,60)

In [44]:
count = 0
for ele in tuple1:
    if ele == 50:
        count = count + 1
print("ele 50 count no :- ", count)

ele 50 count no :-  2

In [46]:
def count1 (num):
    count = 0
    for ele in tuple1:
        if ele == num:
            count = count + 1
    return count
count1(60)

2

Exercise 10: Check if all items in the tuple are the same

In [70]:
tuple1 = (45, 45, 45, 4)

In [75]:
for elel in tuple1:
    if elel == tuple1[0]:
        pass 
    else:
        print("False")

False

# Python String Exercise

Exercise 1A: Create a string made of the first, middle and last character
Exercise 1B: Create a string made of the middle three characters
Exercise 2: Append new string in the middle of a given string
Exercise 3: Create a new string made of the first, middle, and last characters of each input string
Exercise 4: Arrange string characters such that lowercase letters should come first
Exercise 5: Count all letters, digits, and special symbols from a given string
Exercise 6: Create a mixed String using the following rules
Exercise 7: String characters balance Test
Exercise 8: Find all occurrences of a substring in a given string by ignoring the case
Exercise 9: Calculate the sum and average of the digits present in a string
Exercise 10: Write a program to count occurrences of all characters within a string
Exercise 11: Reverse a given string
Exercise 12: Find the last position of a given substring
Exercise 13: Split a string on hyphens
Exercise 14: Remove empty strings from a list of strings
Exercise 15: Remove special symbols / punctuation from a string
Exercise 16: Removal all characters from a string except integers
Exercise 17: Find words with both alphabets and numbers
Exercise 18: Replace each special symbol with # in the following string

Exercise 1A: Create a string made of the first, middle and last character

In [3]:
str1 = "vicky"

In [7]:
rev = ""
rev+=str1[0]
medel= len(str1)//2
rev += str1[medel]
last = len(str1)-1
rev += str1[last]
print(rev)
rev = ""

vcy

Exercise 1B: Create a string made of the middle three characters

In [14]:
str1 = "JhonDipPeta"

In [18]:
str2 = ""
rev0 = len(str1) // 2
print(rev0)
rev1 = rev0 - 1
rev2 = rev0 + 2
str2 += str1[rev1]
str2 += str1[rev0]
str2 += str1[rev2]
print(str2)
str2 = ""

5
DiP

In [21]:
str22 = "JaSonAy"

In [24]:
str23 = ""
lenth = len(str22) // 2
lenth0 = lenth - 1
lenth1 = lenth + 1
str23 += str22[lenth0]
str23 += str22[lenth]
str23 += str22[lenth1]
print(str23)
str23 = ""

Son

Exercise 2: Append new string in the middle of a given string

In [25]:
s1 = "Ault"
s2 = "Kelly"

In [33]:
lenth = len(s1) // 2
print(lenth)
x = s1[:lenth:]
x = x + s2
x = x + s1[lenth::]
x

2

'AuKellylt'

Exercise 3: Create a new string made of the first, middle, and last characters of each input string

Given two strings, s1 and s2, write a program to return a new string made of s1 and s2’s first, middle, and last characters.

output:-
AJrpan

In [42]:
s1 = "America"
s2 = "Japan"

In [43]:
result = ""
frist = s1[0]
lenth = len(s1) // 2
result += frist
result += s2[0]
result += s1[lenth]
lenth2 = len(s2) // 2
last = s2[lenth2::]
result += last
print(result)

AJrpan

Exercise 4: Arrange string characters such that lowercase letters should come first

Given string contains a combination of the lower and upper case letters. Write a program to arrange the characters of a string so that all lowercase letters should come first.

output :- 
yaivePNT

In [60]:
str1 = "PyNaTive"

In [65]:
str2 = ""
str3 = ""
for ele in str1:
    if ele.islower():
        str2 += ele
    elif ele.isupper():
        str3 += ele
rev = str2 + str3
print(rev)

yaivePNT

Exercise 5: Count all letters, digits, and special symbols from a given string

output :-
    
Total counts of chars, digits, and symbols 

Chars = 8 
Digits = 3 
Symbol = 4

In [68]:
str13 = "P@#yn26at^&i5ve"

In [95]:
list_of =[]
for ii in range(65,123):
    list_of.append(chr(ii))
list_of

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z',
 '[',
 '\\',
 ']',
 '^',
 '_',
 '`',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [98]:
chars = 0
Digits = 0
Symbol = 0

for ele1 in str13:
    if ele1.isdigit():
        Digits += 1
    elif ele1.isalpha():
        chars += 1
    else:
        Symbol += 1
print("Chars :- ",chars)
print("Digits :- ",Digits)
print("Symbol :- ",Symbol)

Chars :-  8
Digits :-  3
Symbol :-  4

Exercise 6: Create a mixed String using the following rules

Given two strings, s1 and s2. Write a program to create a new string s3 made of the first char of s1, then the last char of s2, Next, the second char of s1 and second last char of s2, and so on. Any leftover chars go at the end of the result.


output :- 
AzbycX

In [122]:
s1 = "Abc"
s2 = "Xyz"
s3 = ""

In [129]:
aa=s2[::-1]

In [130]:
len1 = len(s1)
len2 = len(s2)
for item in range(len1):
    if item < len1:
        s3 += s1[item]
    if item < len2:
        s3 += aa[item]
print(s3)
s3 = ""

AzbycX

Exercise 7: String characters balance Test

Write a program to check if two strings are balanced. For example, strings s1 and s2 are balanced if all the characters in the s1 are present in s2. The character’s position doesn’t matter.

output :-

True & False

In [144]:
s1 = "Yn"
s2 = "PYnative"

In [145]:
if s1 in s2:
    print("True")
else:
    print("False")

True

In [146]:
s1 = "Ynf"
s2 = "PYnative"

if s1 in s2:
    print("True")
else:
    print("False")

False

Exercise 8: Find all occurrences of a substring in a given string by ignoring the case

Write a program to find all occurrences of “USA” in a given string ignoring the case.

output :- 
 count 2

In [172]:
str1 = "Welcome to USA. usa awesome, isn't it?"
count = 0
list_of_word=str1.split()
find = ['USA.','usa']
for ele in list_of_word:
    if ele in find:
        count += 1
print("count ",count)

count  2

Exercise 9: Calculate the sum and average of the digits present in a string

Given a string s1, write a program to return the sum and average of the digits that appear in the string, ignoring all other characters.

output:-
Sum is: 38 Average is  6.333333333333333

In [163]:
str1 = "PYnative29@#8496"

In [171]:
count = 0
ele_count = 0
for ele in str1:
    if ele.isdigit():
        count += 1
        ele_count += int(ele)
rev = ele_count / count
print("sum is {}".format(ele_count),"the average is",rev)

sum is 38 the average is 6.333333333333333

Exercise 10: Write a program to count occurrences of all characters within a string

output:- 

{'A': 1, 'p': 2, 'l': 1, 'e': 1}

In [214]:
str1 = "apple"

In [213]:
list1 = []
list2 = []
dict1 = {}

for i in str1:
    list1.append(i)
for ele in str1:
    count = str1.count(ele)
    list2.append(count)
for key in list1:
    for value in list2:
        dict1[key] = value
        list2.remove(value)
        break
print(dict1)

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

In [216]:
str1 = "apple"

dic21 = dict()  # dict21 = {}

for ele in str1:
    count = str1.count(ele)
    dic21[ele] = count
print(dic21)

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

Exercise 11: Reverse a given string

In [ ]:
output :-
    
evitanYP

In [217]:
str1 = "PYnative"

str1[::-1]

'evitanYP'

In [223]:
str1 = "PYnative"
str2 = ""
length = len(str1) 
for ele in range(length,0,-1):
    rev = str1[ele -1]
    str2 += rev
str2

'evitanYP'

Exercise 12: Find the last position of a given substring

Write a program to find the last position of a substring “Emma” in a given string.

output :- 

Last occurrence of Emma starts at index 43

In [224]:
str1 = "Emma is a data scientist who knows Python. Emma works at google."

In [228]:
inde = str1.index("Emma",20,50)
print("Last occurrence of Emma starts at index",inde)

Last occurrence of Emma starts at index 43

In [233]:
length = len(str1)
inde = str1.index("Emma",10,length)
print("Last occurrence of Emma starts at index",inde)

Last occurrence of Emma starts at index 43

In [234]:
inde = str1.rindex("Emma")
print("Last occurrence of Emma starts at index",inde)

Last occurrence of Emma starts at index 43

In [235]:
inde = str1.rfind("Emma")
print("Last occurrence of Emma starts at index",inde)

Last occurrence of Emma starts at index 43

Exercise 13: Split a string on hyphens

Write a program to split a given string on hyphens and display each substring.

output:-

Displaying each substring

Emma
is
a
data
scientist

In [258]:
str1 = "Emma-is-a-data-scientist"
sp = str1.split("-")
print(sp)
for i in sp:
    print(i)

['Emma', 'is', 'a', 'data', 'scientist']
Emma
is
a
data
scientist

Exercise 14: Remove empty strings from a list of strings


output :- 


Original list of sting
['Emma', 'Jon', '', 'Kelly', None, 'Eric', '']

After removing empty strings
['Emma', 'Jon', 'Kelly', 'Eric']

In [261]:
str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]
str32 = ["",'']

In [263]:
for ele in str_list:
    if ele in str32:
        str_list.remove(ele)
print(str_list)

['Emma', 'Jon', 'Kelly', None, 'Eric']

In [264]:
str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]
list43 = []
for i in str_list:
    if i:
        list43.append(i)
print(list43)

['Emma', 'Jon', 'Kelly', 'Eric']

Exercise 15: Remove special symbols / punctuation from a string

output :-

"Jon is developer musician"

In [286]:
str1 = "/*Jon is @developer & musician"
str45 = ""

for i1 in str1:
    if i1.isalpha():
        pass
    else:
        str45 += i1
print(str45)
if i1 in str45:
    s1=str1.replace(i1," ")
    print(s1)

/*  @ &

In [268]:
str1 = "/*Jon is @developer & musician"
dd = "Jon is developer musician"
str1 = dd

In [269]:
str1

'Jon is developer musician'

In [279]:
ff = "mnbvcmxz"
d = "z"
if d in ff :
    print("v")

v

Exercise 16: Removal all characters from a string except integers

In [ ]:
output :- 
    
2510

In [288]:
str1 = 'I am 25 years and 10 months old'
str2 = ""
for i in str1:
    if i.isdigit():
        str2 += i
        
print(str2)

2510

Exercise 17: Find words with both alphabets and numbers

Write a program to find words with both alphabets and numbers from an input string.

output:-

Emma25
scientist50

In [289]:
str1 = "Emma25 is Data scientist50 and AI Expert"

Exercise 18: Replace each special symbol with # in the following string

output:-

##Jon is #developer # musician##

In [1]:
str1 = '/*Jon is @developer & musician!!'

# Python Basic Exercise for Beginners

Exercise 1: Calculate the multiplication and sum of two numbers
Exercise 2: Print the sum of the current number and the previous number
Exercise 3: Print characters from a string that are present at an even index number
Exercise 4: Remove first n characters from a string
Exercise 5: Check if the first and last number of a list is the same
Exercise 6: Display numbers divisible by 5 from a list
Exercise 7: Return the count of a given substring from a string
Exercise 8: Print the following pattern
Exercise 9: Check Palindrome Number
Exercise 10: Create a new list from a two list using the following condition
Exercise 11: Write a Program to extract each digit from an integer in the reverse order.
Exercise 12: Calculate income tax for the given income by adhering to the below rules
Exercise 13: Print multiplication table form 1 to 10
Exercise 14: Print downward Half-Pyramid Pattern with Star (asterisk)
Exercise 15: Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.

Exercise 1: Calculate the multiplication and sum of two numbers

Given two integer numbers return their product only if the product is equal to or lower than 1000, else return their sum.

number1 = 20                                      
number2 = 30

Expected Output:

The result is 600


number1 = 40
number2 = 30


Expected Output:

The result is 70

In [85]:
def product(num1,num2):
    prod = num1 * num2
    
    if prod <= 1000:
        return prod
    else:
        result = num1 + num2
        return result
product(40,30)

70

Exercise 2: Print the sum of the current number and the previous number

Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number.


output:-

Printing current and previous number sum in a range(10)
Current Number 0 Previous Number  0  Sum:  0
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17

In [23]:
previous_num = 0
for i in range(0,10): 
    d = previous_num + i
    print(i,previous_num + i)
    previous_num = i

0 0
1 1
2 3
3 5
4 7
5 9
6 11
7 13
8 15
9 17

Exercise 3: Print characters from a string that are present at an even index number

Write a program to accept a string from the user and display characters that are present at an even index number.

For example, str = "pynative" so you should display ‘p’, ‘n’, ‘t’, ‘v’.

Expected Output:

Orginal String is  pynative
Printing only even index chars
p
n
t
v

In [25]:
str1 = "pynative"

for ele in range(0,7,2):
    print(str1[ele])

p
n
t
v

Exercise 4: Remove first n characters from a string

For example:

remove_chars("pynative", 4) so output must be tive. Here we need to remove first four characters from a string.
remove_chars("pynative", 2) so output must be native. Here we need to remove first two charactersfrom a string.


Note: n must be less than the length of the string.

In [27]:
str2 = "pynative"
n = 4

result = str2[n::]

print(result)
print(type(result))

tive
<class 'str'>

Exercise 5: Check if the first and last number of a list is the same

Write a function to return True if the first and last number of a given list is same. If numbers are different then return False.


Expected Output:

Given list: [10, 20, 30, 40, 10]
result is True

numbers_y = [75, 65, 35, 75, 30]
result is False

In [86]:
Given = [10, 20, 30, 40, 11]

length = len(Given)
if Given[0] == Given[length-1]:
    print("True")
else:
    print("False")

False

Exercise 6: Display numbers divisible by 5 from a list

Iterate the given list of numbers and print only those numbers which are divisible by 5

Expected Output:

Given list is  [10, 20, 33, 46, 55]
Divisible by 5
10
20
55

In [45]:
Given1 = [10, 20, 33, 46, 55]
Divisible = 5
for ele1 in Given1:
    if ele1 % Divisible == 0 :
        print(ele1)

10
20
55

Exercise 7: Return the count of a given substring from a string

Write a program to find how many times substring “Emma” appears in the given string.

Given:

str_x = "Emma is good developer. Emma is a writer"

Expected Output:

Emma appeared 2 times

In [87]:
str_x = "Emma is good developer. Emma is a writer Emma"

new = str_x.count("Emma")
print(new)

3

In [88]:
str_x = "Emma is good developer. Emma is a writer"
ss = str_x.split()
str2 = 0
find_word = "Emma"
for ele in ss:
    if ele == find_word:
        str2 += 1
print(str2)

2

Exercise 8: Print the following pattern

1 
2 2 
3 3 3 
4 4 4 4 
5 5 5 5 5

In [89]:
for row in range(6):
    for colum in range(row):
        print(row,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

Exercise 9: Check Palindrome Number

Write a program to check if the given number is a palindrome number.

A palindrome number is a number that is same after reverse. For example 545, is the palindrome numbers

Expected Output:

original number 121
Yes. given number is palindrome number

original number 125
No. given number is not palindrome number

In [90]:
input_num = input("Enter number ")
rev = input_num[::-1]
if input_num == rev:
    print("yes this is {} palindrome".format(input_num))
else:
    print("This {} not palindrome number".format(input_num))

Enter number 555
yes this is 555 palindrome

Exercise 10: Create a new list from a two list using the following condition

Create a new list from a two list using the following condition

Given a two list of numbers, write a program to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list.

Given:

list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]
Expected Output:

result list: [25, 35, 40, 60, 90]

In [91]:
list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]
list3 = []
len1 = len(list1)

for ele1 in range(2,len1,2):
    list3.append(list1[ele1])
for ele2 in range(0,len1,2):
    list3.append(list2[ele2]) 
list3

[25, 35, 40, 60, 90]

Exercise 11: Write a Program to extract each digit from an integer in the reverse order.

For example, If the given int is 7536, the output shall be “6 3 5 7“, with a space separating the digits.

In [84]:
num = 7536
convert = str(num)
rev = convert[::-1]
result = " ".join(rev)
print(result)
print(type(result))

6 3 5 7
<class 'str'>

Exercise 12: Calculate income tax for the given income by adhering to the below rules

Taxable Income	     Rate (in %)
First   $10,000	       0
Next    $10,000	      10
The     remaining     20

Expected Output:

For example, suppose the taxable income is 45000 the income tax payable is

10000*0% + 10000*10%  + 25000*20% = $6000.

In [101]:
income11 = int(input("Enter your income "))
pay_tex = 0

if income11 <= 10000:
    print("do not pay any tex")
elif income11 <= 20000:
    pay_tex = income11 - 10000
    calculate0 = pay_tex * 10 / 100
    print("your icome {} ".format(income11),"paybal tex {}".format(calculate0))
else:
    pay_tex = 0
    pay_tex = 10000 * 10 / 100
    
    pay_tex += (income11 - 20000) * 20 / 100
    
    print("your total paybale tex ", pay_tex)

Enter your income 25000
your total paybale tex  2000.0

In [97]:
income1 = int(input("Enter your income "))
if income1 <= 10000 :
    print("do not pay income tex")
elif income1 <= 20000 :
    calculate = income1 * 10 / 100
    print("your icome {} ".format(income1),"paybal tex {}".format(calculate))
elif income1 <= 50000:
    calculate1 = income1 * 20 / 100
    print("your icome {} ".format(income1),"paybal tex {}".format(calculate1))

Enter your income 23444
your icome 23444  paybal tex 4688.8

Exercise 13: Print multiplication table form 1 to 10

Expected Output:

1  2 3 4 5 6 7 8 9 10 		
2  4 6 8 10 12 14 16 18 20 		
3  6 9 12 15 18 21 24 27 30 		
4  8 12 16 20 24 28 32 36 40 		
5  10 15 20 25 30 35 40 45 50 		
6  12 18 24 30 36 42 48 54 60 		
7  14 21 28 35 42 49 56 63 70 		
8  16 24 32 40 48 56 64 72 80 		
9  18 27 36 45 54 63 72 81 90 		
10 20 30 40 50 60 70 80 90 100

In [119]:
for ele in range(1,11):
    for i in range(1,11):
        print(ele * i , end = " ")
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

Exercise 14: Print downward Half-Pyramid Pattern with Star (asterisk)

* * * * *  
* * * *  
* * *  
* *  
*

In [123]:
for row in range(5):
    for colum in range(5 -row):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

Exercise 15: Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.

Note here exp is a non-negative integer, and the base is an integer.

Expected output

Case 1:

base = 2
exponent = 5

2 raises to the power of 5: 32 i.e. (2 *2 * 2 *2 *2 = 32)



Case 2:

base = 5
exponent = 4

5 raises to the power of 4 is: 625 
i.e. (5 *5 * 5 *5 = 625)

In [ ]:
def exponent(exp,base):
    i =1
    calculate = 0
    while i <= exp:
        calculate += calculate * base
        print(calculate)
    return calculate
exponent(4,5)

In [ ]:
cc += cc * 3
print(cc)