# selary question

In [ ]:
a = 10000
def user(name,selary=10000):
    if selary<10000 or selary > 10000:
        return({"name":name,"selary":selary})
    return({"name":name,"selary":selary})
user(name="vicky")

In [ ]:
# ham list ko as key bana sakte hai ya nhi

In [ ]:
bd = {["vicky",123]:"ha bana sakte hai"}
print(bd)

# list ko jodna & to concatenate lists

In [ ]:
a = [1, 2]
b = [2, 3]
a.extend(b)
print(a)

In [ ]:
c = [9,8]
d = [90,45,'vicky']
c += d
print(c)

In [ ]:
import os
from dotenv import load_dotenv

load_dotenv()

GCP_PROJECT_ID = os.getenv('abc')
print(GCP_PROJECT_ID)
#env_var = os.environ.get['ENV']

In [ ]:
env_var = os.environ.get()
print(env_var)

In [ ]:
7%2

In [ ]:
5 % 7

In [ ]:
3%2

In [ ]:
6%2

In [ ]:
2%4

In [ ]:
7/2

In [ ]:
2/7

In [ ]:
2**3

In [ ]:
3**2

In [ ]:
2**4

In [ ]:
4 // 3

In [ ]:
6 // 4

In [ ]:
25 != 8

In [ ]:
a = 5
b = 2
c = 3

In [ ]:
a = b + c
print(a)

In [ ]:
b = a + c
print(b)

In [ ]:
a += b
a

In [ ]:
a -= b
a

In [ ]:
b %= a
b

In [ ]:
d = 4
e = 8
f = 9

In [ ]:
d > e and d > f

In [ ]:
d > e and d < f

In [ ]:
d < e and d < f

In [ ]:
d > e

In [ ]:
not d > e

In [ ]:
not d < e

In [ ]:
d > e or d > f

In [ ]:
d < e or d > f

In [ ]:
d is e

In [ ]:
d is not e

In [ ]:
g = 4
d is g

In [ ]:
d is not g

In [ ]:
h = 'bchfhu'
h in 'bchfhu'

In [ ]:
q = [89,'hf',77,'fhg','d']
u = 'd'
u in q

In [ ]:
u not in q

In [ ]:
u = 33
u not in q

In [ ]:
x = 8
y = 5
z = 7

In [ ]:
# Q  . write a program of print odd number between  1 to 100

In [ ]:
give_no = input("enter your no . :", )
# print(give_no)
# print(type(give_no))
ele = int(give_no)
# print(type(ele))
# ele
for i in range(1,ele + 1):
    if i % 2 == 0 :
        pass
    else:
        print("no. is odd ", i)

In [ ]:
give_no = input("enter your no . :", )
# print(give_no)
# print(type(give_no))
ele = int(give_no)
# print(type(ele))
# ele
for i in range(1,ele +1):
    if i % 2 == 0 :
        print("no is even", i)
    else:
        print("no. is odd :- ",     i)

In [ ]:
for k in range(4):
    print("*",end ='')

In [ ]:
2 * 0

In [ ]:
0 - 1

In [ ]:
dd = "i am namchi gunda ha ha "
vv = 'gunda ' .join("spret")
print(vv)

In [ ]:
set1 = {"jskfj",6890,987,'hjj',78,'hjj', 78}
# print(type(set1))
# set1
# set1[0]
# print(set1)
for iei in set1:
    print(iei)   #  this is unorderd

In [ ]:
class Ram :
    def __init__(self, name , contact , email):
        self.name = name
        self.contact = contact
        self.email = email
    def myfunc (self):
        print("my name is " + self.name)
    
R = Ram ("shita", 95095,"ram55@gmail.com")
R1 = Ram("lal bag",12345,"lala123@gmail.com")
print(R.name)
print(R1.contact)
R.myfunc()
R1.myfunc()

In [ ]:
# Q.  remove duplicate elements in the list

In [ ]:
list1=[10,"hi",20,30,10,30,"vicky","hi"]
list2=[]
for ele in list1:
    if ele not in list2:
        list2.append(ele)
print("duplicate free list :- ", list2)

In [ ]:
# how to leanth in list

In [ ]:
list21 = [12,'ffd',33,423,"dsf",'dsdsffsf',3232,32222,222,2,2,2,2,]

list22 = 0

for i2 in list21:
    list22 = list22+1
print(list22)

In [ ]:
len2 = len(list21)
print(len2)

In [ ]:
# parectics of list method
list12 = [143, 'jk',43,'ram']

# 1. append method
list12.append(3455)
print(list12)

In [ ]:
list13 = ['dsd',9484,'dfdf',]
list12.append(list13)
print(list12)

In [ ]:
# 2. extend method

list12.extend("123321")
print(list12)

In [ ]:
list14 = ['dd',34,'fdfd']
list12.extend(list14)
print(list12)

In [ ]:
# sort method
list15 = [12,65,33,67,90,45,24]
list15.sort()
print(list15)

In [ ]:
list16 = ['a','z','d','c']
list16.sort()
list16

In [ ]:
list17 = ['abcd','uxyz','ef']
list17.sort()
print(list17)

In [ ]:
list18 = ['asdf','zbac','gjk','czak']
list18.sort()
list18

In [ ]:
# pop method

list18.pop(0)
print(list18)

In [ ]:
# index method
inde = list12.index('fdfd')
print(list12)
print("index no :-", inde)

In [ ]:
# insert method
list18.insert(1,"jgj")
list18

In [ ]:
# remove method
list18.remove('zbac')
print(list18)

In [ ]:
# str concanet 

name = 'vicky'
greting = 'good morning'
print("hello " + name,'' + greting)

In [ ]:
dict23 = {}
dict23['c'] = 1
dict23

In [ ]:
# dictionary query 

dict32 = {"name":"lalu",12:"fhj","no":567}
dict32

In [ ]:
dict32.keys()

In [ ]:
dict32.values()

In [ ]:
dict32.items()

In [ ]:
import array as arr

my_array = arr.array('r',[1,3,4,5,5])
print(type(my_array))

In [ ]:
my_array = arr.array('d',[1,3,4,5,5])
print(type(my_array))

In [ ]:
#  what is function in python and type of function arguments explain

In [ ]:
# ANS . 

#  function is a block of code / collecation of code which is execued when it is called
#  type of function arguments
#  1.  Default function argument
#  2.  keyword argument
#  3.  positional argument
#  4.  abitrary keyword argument
#  5.  abitrary positional argument

In [ ]:
# 1. Default argument 

def add (a,b=3,c=5):
    return (a+b+c)
print(add(2))

In [ ]:
def add1 (a,b=3,c=5):
    return (a+b+c)
print(add1(2,4,6))

In [ ]:
#  keyword argument
def add2 (a,b=5,c=10):
    return (a+b+c)
print(add2(b = 2, c = 5, a = 9))

In [ ]:
def add3 (a,b=5,c=10):
    return (a+b+c)
print(add3( a = 9))

In [ ]:
# positional argument

In [ ]:
def add4(a,b,c):
    print("a",a)
    print("b",b)
    print("c",c)
    return a+b+c
add4(2,4,3)

In [ ]:
# Variable length arguments / abitrary positional argument

def fun(*name,x):
    print(x)
    for i13 in name:
        print(i13)
name_list = ["ram", "lala", "vicky", "raju"]
fun (*name_list,x = 9)

In [ ]:
def fun1(a,b,c):
    print(a,b,c)
fun1(a =  "ramu",b = "raju", c = "baba")

In [ ]:
# keyword Variable length arguments / abitrary keyword argument
def fun2 (**args):
    for key, value in args.items():
        print(key)

rs = {"name":"vicky","Roll":22,"email":"vvhfrn@gmail.com","address":"jaipur"}
fun2(**rs)

In [ ]:
d = {"cc":"jdfj",445:44}
d["name"]="vicky"
d

In [ ]:
d.pop("name")
d

In [ ]:
d.popitem()
d

In [ ]:
f = d.pop("name")
print(f)
print(d)

In [ ]:
# make a class parsion

class parsion:
    def __init__(self, name ,age):
        self.name = name
        self.age = age
        
p1 = parsion("vicky",67)
print(p1.name)
print(p1.age)

In [ ]:
class paaa():
    name = "ccc"
p = paaa()
print(p.x)

In [ ]:
# Q. what is constructor in python 
# ANS.  python is supports of specials type of method so it is called 
#       constructor for initionlize the intance varibles of a class
#

In [ ]:
# constructor

class mobile:            #   constructore called
    def __init__(self):
        print("called mobile constructor")
mm = mobile()

In [ ]:
# without argument constructor

class phone:
    def __init__(self):
        self.name = "jdhdh"
        
p1 = phone()
print(p1.name)

In [ ]:
# with Arguments constructor

class model2:
    def __init__ (self, name, price = 34000):
        self.name = name
        self.price = price
m = model2("car")

print(m.price)

In [ ]:
list325 = [1,8,94,8]
list325[-1::-1]

In [ ]:
str343 = ""
str232 = "bangalore"
print(reverse(str232))

In [ ]:
str343 = str343 + "a"

In [ ]:
str343 = str343 + "b"

In [ ]:
str343

In [ ]:
# reverse a string without inbuild function

str34 = "asdfghjkl"
str34[::-1]

In [ ]:
# wap swape tow last element 1st position like [1,3,89,34,68,54] output [68,54,1,3,89,34]
test_list = [1,3,89,34,68,54]
f = []
for ij in test_list:
    f.append(ij)
    
# for il in f:
#     test_list.append(test_list.pop(test_list.index(il)))
# test_list

In [ ]:
d = [1,3,89,34,68,54]
s=[]
for kj in range(4,6):
    s.insert(kj,d[kj])
for jk in range(0,4):
    s.append(d[jk])
s

In [ ]:
s.insert(0,8)
s

In [ ]:
# wap you can find the element in list

list09 = [94,85,0,13,2,4,1,6,98,23,3,5,8]
find_no = int(input("Enter search number : - ", ))
for ele1 in list09:
    if ele1 == find_no:
        print("yes this is avelable")

In [ ]:
tupl3 = (8,45,"sdfgh")
dict66={}
dict66[tupl3]="hi"
print(type(dict66))

In [ ]:
list390 = [1,5,3,"dg"]
dict1 = {}
dict1[list390]="fg"
print(dict1)

In [ ]:
dict23 = {"df":57,34:"rol"}
dict132 = {}
dict132[dict23]= "df"
print(dict132)

In [ ]:
# how to reverse word in string python

In [ ]:
str1 = "i love my india"
# like "india my love i"
rev=str1.split()
rev.reverse()
result = " ".join(rev)
print(result)

In [ ]:
# wap count of frecquency no in list

In [ ]:
list90 = [1,4,2,3,2,1,4,7,5,6,87,4,6,2,1,5,67,4]
dict1 = {}
for ele in list90:
    if ele in dict1:
        dict1[ele] += 1
    else:
        dict1[ele] = 1
print(dict1)

In [ ]:
dict1= {1:1,4:1,2:1,3:1,}

In [ ]:
# how to reverse string

str1 = "hi my name is vikas kumar"
re = str1[-1::-1]
re

In [ ]:
# reverse word in string

str2 = "hi my name is vikash"
rev = str2.split()
rev.reverse()
result = " ".join(rev)
print(result)

In [ ]:
# how to check polindrome no and string

str3 = "hi vicky kiya vicky hi"
re1 = str3.split()
re1.reverse()
result = " ".join(re1)
if str3 == result:
    print("yes this is string polindrome string ")
else:
    print("not polindrome string")

In [ ]:
# how to check polindrome number

num1 = input("Enter check number")
re2 = num1[-1::-1]
if num1 == re2:
    print("yes this is number polindrome number ")
else:
    print("not polindrome number")

In [2]:
# how to check armstrong no in python

num2 = int(input("Enter number :- "))
fact = 0
temp = 0 
while temp > 0 :
    rev2 = temp % 10
    result = rev2 ** 3

Enter number :- 345

In [ ]:
452 % 10

In [6]:
list9 = [94,85,0,13,2,4,1,6,98,23,3,5,8]
no = int(input("enter:-"))
no = no + 1
for i in list9[-1:-no:-1]:
    list9.insert(0,i)
    list9.pop()
list9

enter:-3

[3, 5, 8, 94, 85, 0, 13, 2, 4, 1, 6, 98, 23]

In [1]:
co = 0 
def zxc():
    print( co)
zxc()

0

In [8]:
hi =0
hi

0

In [13]:
# create class and object

class stude:
    def __init__(self,stu_id,name,contact,address,):
        self.stu_id = stu_id
        self.name = name
        self.contact = contact
        self.address = address
s1 = stude(stu_id = 11,name = "ashok",contact = 345678,address = "jaipur")
s2 = stude(stu_id = 43,name = "vicky",contact = 876543,address = "rampur")
print(s2.name)
print(s1.stu_id)

vicky
11

In [31]:
# how to delete and copy dictionary

dict2 = {"name":"vicky","contact":456789,"address":"bikaner"}
dict3 = dict2    #   copy
print(dict3)    
print(dict2)

#     or

dict4 = dict2.copy()
dict4

#  delete dict

dict2.pop("contact")
dict2

#  or

dict2.popitem()
dict2

#   or   
del dict2["name"]
dict2

#   or
dict2.clear()
dict2

{}

In [32]:
#  How to get list of all keys in a dictionary?


dict312 = {"name":245,123:"ffdf","adress":"ffff"}
for io in key()

SyntaxError: invalid syntax (<ipython-input-32-956e48497b8b>, line 5)

In [46]:
for i in range(5):
    for ele in range(i):
        print("*",end = "")
    print()

*
**
***
****

In [ ]:
z = 5
y =

In [48]:
z = 5
y = 3

In [49]:
z

5

In [50]:
y

3