# Python  Variable

In [1]:
a = 45
type(a)

int

In [2]:
a1 = "vicky"
type(a1)

str

# opratores

In [ ]:
#  opratore + , - , * , / , arthmentic

In [4]:
a3 = 9
b = 5
print(type(a3+b))
a3+b

<class 'int'>

14

In [19]:
a4 = 2
b1 = 5
print(type(a4/b1))
print(a4/b1)

<class 'float'>
0.4

In [6]:
print(a4 / b1)

0.4

# if / else

In [ ]:
# this statment is walks conditions

In [7]:
a5 = 0 
b2 = 4
if a5 < b2:
    print("yes condtions is True")

yes condtions is True

In [8]:
if a5 > b2:
    print("yes condtions is True")
else:
    print("This condtions False")

This condtions False

# loops control statments

In [9]:
# this statments count the no. or items start to end

In [20]:
for i in range(5):
    print(i)

0
1
2
3
4

In [24]:
for i1 in range(4,11,2):   #  range(start, end, interval)
    print(i1)

4
6
8
10

In [12]:
#  while loop this is condtion true then itreate

In [25]:
n = 1000
while n >= 10:
    n = n//10
    print(n)

100
10
1

In [10]:
# 3 statment pass,  break, continue

In [26]:
for i3 in range(4):  # pass
    pass

In [27]:
for i4 in range(10):  # break
    if i4 == 9:
        break
    else:
        print(i4)

0
1
2
3
4
5
6
7
8

In [13]:
list1 = ["786","banana","rakesh",333,"ram",8765]
for i5 in list1:
    if i5 == "rakesh":
        continue
    print(i5)

786
banana
333
ram
8765

# list

In [14]:
# list is contaner of data

In [28]:
list1 = [1,7,3,8,4,8,5,32,"vicky",7654,"ram"]
# access list element
list1[8]    # accessing list indexing

'vicky'

In [16]:
for i6 in list1:
    print(i6)

1
7
3
8
4
8
5
32
vicky
7654
ram

In [17]:
list23 = len(list1)
for i7 in range(list23):
    print(i7)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
# what is nested list 

list1 = [1,7,35,32,"vicky",7654,"ram",[8575,"ilp",56"ilearnplace"]]