#  frist program

In [1]:
print ("hello program")

hello program

In [7]:
#  python ke sath os module  
import os
print("hi")

hi

In [9]:
print('''hi my name
is vicky kumar saini
i am from jaipur'''
)

hi my name
is vicky kumar saini
i am from jaipur

In [10]:
print(" hi my name is 
vicky kumar 
saini ")

SyntaxError: EOL while scanning string literal (<ipython-input-10-810431267b1e>, line 1)

# comments

In [6]:
#  2 type of comments
#  1 . Single line comments - written using #
#  2 . Multi-line comments – Written using ‘’’ Comment ‘’’ or “”” Comment “””.

# install extarnal module in python

In [ ]:
from playsound import playsound
playsound('C:\\\\music\\\\song.mp3')

In [1]:
# Write a python program to print the contents of a directory using os module. Search online for the function which does that.

import os 

print (os.listdir())

['.ipynb_checkpoints', 'python beginners.ipynb']

#  variables

In [3]:
#  ==>    A variable is a name given to a memory location in a program.
#  ==>    Variable – Container to store a value
#         For example  :-
a = " vicky"
b = 123

# keywords

In [5]:
#    ==>   Reserved words in Python
#          like 
"""  False	await	else	import	pass
     None	break	except	in	raise
     True	class	finally	is	return
     and	continue	for	lambda	try
     as	def	from	nonlocal	while
     assert	del	global	not	with
     async	elif	if	or	yield  """

'  False\tawait\telse\timport\tpass\n     None\tbreak\texcept\tin\traise\n     True\tclass\tfinally\tis\treturn\n     and\tcontinue\tfor\tlambda\ttry\n     as\tdef\tfrom\tnonlocal\twhile\n     assert\tdel\tglobal\tnot\twith\n     async\telif\tif\tor\tyield  '

# Data types

In [7]:
#  ==>    two types of Data types 
#  1  premativ Datatype :-  this datatype is predefaine 
#         Exa :-  int , char , booleans ,string ,None ,floting number
#  2  nonpremativ Datatype :-  this datatype is userdifaine
#         Exa :-  list ,tuple ,dic

In [ ]:
#  Python is a fantastic language that automatically identifies the type of data for us.

In [8]:
a = "vicky"
b = ''' vicky
kumar
saini '''
c = 123
d = 12.55
e = True
f = None

print(a,b,c,d,e,f)

vicky  vicky
kumar
saini  123 12.55 True None

In [10]:
# printing the type of variables

print (type(a))
print (type(b))
print (type(c))
print (type(d))
print (type(e))
print (type(f))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'NoneType'>

# Rules for defining a variable name:

In [11]:
''' *  A variable name can contain alphabets, digits, and underscore.
    *  A variable name can only start with an alphabet and underscore.
    *  A variable can’t start with a digit.
    *  No white space is allowed to be used inside a variable name.
    *  variable case sencitiv hota                                     '''

' *  A variable name can contain alphabets, digits, and underscore.\n    *  A variable name can only start with an alphabet and underscore.\n    *  A variable can’t start with a digit.\n    *  No white space is allowed to be used inside a variable name.  '

In [13]:
#  variable case sencitiv hota hai

# Exa :-  
    
a = 10
A = 20

print(a)

# this is not same variables 

print (A)

10
20

# Operators in Python

In [14]:
#  The following are some common operators in Python:

# Arithmetic Operators (+, -, *, /, etc.)
# Assignment Operators (=, +=, -=, etc.)
# Comparison Operators (==, >=, <=, >, <, !=, etc.)
# Logical Operators (and, or, not)

In [16]:
# Arithmetic Operators

print ("the vlue of 2 + 6 :- " , 2 + 6)
print ("the vlue of 2 - 6 :- " , 2 - 6)
print ("the vlue of 2 * 6 :- " , 2 * 6)
print ("the vlue of 2 / 6 :- " , 2 / 6)

the vlue of 2 + 6 :-  8
the vlue of 2 - 6 :-  -4
the vlue of 2 * 6 :-  12
the vlue of 2 / 6 :-  0.3333333333333333

In [17]:
# Assignment Operators

a = 20
print(a)

a += 5
print(a)

a -= 5
print(a)

20
25
20

In [24]:
# Comparison Operators

a = 5
#b = (a==5)
#print(b)
# b = (15 < 4)
# b = (15 > 4)
# b = (15 =< 4)
# b = (15 >= 4)
# b = (15 >= 4)
b = (15 == 4)
print(b)

False

In [5]:
# Logical Operators

bool1 = True
bool2 = False
#print ("the vlue of bool1 and bool2 is",(bool1 and bool2))
#print ("the vlue of bool1 or bool2 is",(bool1 or bool2))
print ("the vlue of not bool2 is",(not bool2))

the vlue of not bool2 is True

# type casting

In [13]:
# A number can be converted into a string and vice versa (if possible)
# There are many functions to convert one data type into another.

#                      or

#  typecasting using in a datatype to convert another datatype 


a = '1234'
#print (a+6)
#print (type(a))
#print (a)

# using typecasting 
a = int(a)
print(type(a+6))
print(a+6)

<class 'int'>
1240

# input() function

In [48]:
# This function allows the user to take input from the keyboard as a string.

# Exa :-  a = input("enter name") 

#  NOTE :-    The output of the input function is always a string even if the number is entered by the user.

#             Suppose if a user enters 34, then this 34 will automatically convert to “34” string literal.

In [17]:
#a = input("Enter name ")
#print(a)
#print(type(a))

#  ese hi 

b = input("enter number")
b = int(b)  #  convorte datatype 
print(type(b))
print(b)

enter number45
<class 'int'>
45

# questions Practice Set

In [ ]:
# 1   Write a Python program to add two numbers.
# 2   Write a Python program to find the remainder when a number is divided by Z(Integer).
# 3   Check the type of the variable assigned using the input() function.
# 4   Use a comparison operator to find out whether a given variable a is greater than b or not. (Take a=34 and b=80)
# 5   Write a Python program to find the average of two numbers entered by the user.
# 6   Write a Python program to calculate the square of a number entered by the user.

In [3]:
#   1 Ans.

a = 45
b = 5
c = a + b
print ("add two numbers  :- ", c )

#     or

a = input("enter frist number :-" )  #  this is not add number becuse two string number add 
b = input("enter second number :-")
c = a+b 
print(type(c))
print(c)

add two numbers  :-  50
enter frist number :-1
enter second number :-1
<class 'str'>
11

In [5]:
#  2 Ans .

a = 2
b = 10
print("the remainder a divided by b ", b%a )

the remainder a divided by b  0

In [7]:
# 3 Ans.
a = input("enter the input ")
print(a)
print(type(a))

enter the input v
v
<class 'str'>

In [10]:
# 4 Ans.

a = 34
b = 80
c = a > b
print(c)

False

In [14]:
# 5 Ans.

a = input ("Enter frist number")
b = input ("Enter second number")
a = int(a)                       # convert datatype str to int
b = int(b)
ave = (a + b)/2                  
print ("the average of a and b is",ave)

Enter frist number5
Enter second number5
the average of a and b is 5.0

In [2]:
# 6 Ans.


a = input("Enter number")
a = int(a)
b = 2
sque = a * b
print("squer a is :" , sque)

Enter number5
squer a is : 10

#   string

In [8]:
# ==>   The string is a data type in Python.

# ==>   A string is a sequence of characters enclosed in quotes.

'''
We can primarily write a string in three ways:

Single quoted strings : a = ‘vicky’
Double quoted strings : b = “vicky”
Triple quoted strings : c = ‘’’ vicky ‘’’

'''

a = ' hi vicky '
print (a)
print (type(a))

b = " jaipur's "
print(b)

c = ''' hi i am 
        vicky '''
print(c)


# string indexing 

a = "vicky"
print(a[2])

# concative  two strings

grating = " good morning "
name = " vicky "
con = grating + name
print(con)

 hi vicky
<class 'str'>
 jaipur's
 hi i am
        vicky
c
 good morning  vicky

# String Slicing:

In [2]:
# A string in Python can be sliced for getting a part of the string.

name = "vicky"

print(name[0:4])
print(name[0:])
# nagative index 
a = name[-4:-1]
print(a)

vick
vicky
ick

# Slicing with skip value

In [32]:
#  ==>  We can provide a skip value as a part of our slice like this:

name = "vicky is good boy"
print(name[0::2])

vcyi odby

# String Functions

In [35]:
# ==>  len() function : It returns the length of the string.

story = "hi my name is raghav i am from bengluru"
length = len(story)
print(length)

39

In [4]:
# ==> endswith(“rry”) : This function tells whether the variable string ends with the string “rry” or not. If string is “harry”,
#                   it returns for “rry” since harry ends with rry.
#                                   or

#                  yani is string ka last ( word / carectore / space )any  se end ho rhi hai     


story = "hi my name is raghav i am from bengluru but"
#story.endswith("but")
print(story.endswith("but"))

True

In [18]:
# ==> count(“c”) : It counts the total number of occurrences of any character.

story = "hi my name is raghav i am from bengluru but"
story.count("a")
#print(story.count("a"))

4

In [45]:
# ==> capitalize() : This function capitalizes the first character of a given string.

#                    yeh function string ke frist word ko capital kar deta hai

story = "hi my name is raghav i am from bengluru but"
print(story.capitalize())

Hi my name is raghav i am from bengluru but

In [12]:
data1 = "i am a good man "
for ii in data1:
    if " " in ii:
        print(ii)
    else:
        print(ii.capitalize())

I

A
M

A

G
O
O
D

M
A
N

In [53]:
#  ==>  find(word) : This function finds a word and returns the index of first occurrence of that word in the string.

story = "hi my name is raghav i am from bengluru but"
print(story.find("name"))

6

In [55]:
#  ==>  replace(oldword, newword) : This function replaces the old word with the new word in the entire string.

story = "hi my name is raghav i am from bengluru but"
print(story.replace("name","names"))

hi my names is raghav i am from bengluru but

# Escape Sequence Characters:

In [1]:
# Sequence of characters after backslash ‘\’ [Escape Sequence Characters]

# Escape Sequence Characters comprises of more than one character but represents one character when used within the string.

# Examples: \n (new line), \t (tab), \’ (single quote), \\ (backslash), etc.

story = "hi my name is raghav\n i am from bengluru\tbut currenl\'y living jaipurra\\jasthan"
print(story)

hi my name is raghav
 i am from bengluru	but currenl'y living jaipurra\jasthan

# questions Practice Set

In [3]:
# Q. 1   Write a Python program to display a user-entered name followed by Good Afternoon using input() function.
# Q. 2   Write a program to fill in a letter template given below with name and date.
#        letter = ‘’’ Dear <|NAME|>,

#                       You are selected!

#                       <|DATE|>


# Q. 3   Write a program to detect double spaces in a string.
# Q. 4   Replace the double spaces from problem 3 with single spaces.
# Q. 5   Write a program to format the following letter using escape sequence characters.

#        letter = “Dear vicky, This Python course in nice. Thanks!!”

In [11]:
#  Ans .1

name = input("Enter name \n")
print("good Afternoon "+name)

Enter name
vicky
good Afternoon vicky

In [16]:
# Ans .2 

letter = ''' Dear <|NAME|>,
              You are selected!
              <|DATE|>
          '''
name = input("Enter your name")
date = input("Enter your date")

letter = letter.replace("<|NAME|>", name )
letter = letter.replace("<|DATE|>" , date)

print(letter)

Enter your namevicky kumar
Enter your date15 Jun
 Dear vicky kumar,
              You are selected!
              15 Jun

In [19]:
#  Ans .3

str1 = "Hi My Name is Vicky Kumar  "
print(str1.find("  "))

25

In [25]:
# Ans .4 

str1 = "Hi  My Name is  Vicky Kumar"
str1 = str1.replace(" ","   ")
print(str1)

Hi      My   Name   is      Vicky   Kumar

In [30]:
# Ans .5

letter = "Dear vicky kumar\n\t This Python course in nice.\nThanks!!"
print(letter)

Dear vicky kumar
	 This Python course in nice.
Thanks!!

# Lists in python

In [34]:
#  ==>  Python Lists are containers to store a set of values of any data type.
#  ==>  The list can contain different types of elements such as int, float, string, Boolean, etc.
#       Above list is a collection of different types of elements.

list1 = ["vicky" , 123 , 45 , 123.99 , True ]
print(list1)

list1[1]=2    #  list is muteble 
print(list1)

['vicky', 123, 45, 123.99, True]
45
['vicky', 2, 45, 123.99, True]

In [37]:
#  List Indexing

list1 = ["hi" , 12 ,23.4 , False , "vicky"]
print(list1[0])
print(list1[4])

hi
vicky

In [41]:
#   list slicing 

list1 = ["hi" , 12 ,23.4 , False , "vicky"]

print(list1[0:1])
print(list1[-4:-2])
print(list1[0:])

['hi']
[12, 23.4]
['hi', 12, 23.4, False, 'vicky']

# List Methods

In [5]:
# sort() – updates the list to  [1,2,7,8,15,21]

list1 = [1,4,9,5,0,3,45,87,23,34]
vs = list1.sort()                # this is not allwod
print(vs)

list1.sort()
#print(list1)

None

In [46]:
# reverse() – updates the list to [15,21,2,7,8,1]

list1 = [1,4,9,5,0,3,45,87,23,34]
list1.reverse()
print(list1)

[34, 23, 87, 45, 3, 0, 5, 9, 4, 1]

In [47]:
# append(8) – adds 8 at the end of the list

list1 = [1,4,9,5,0,3,45,87,23,34]
list1.append(55)
print(list1)

[1, 4, 9, 5, 0, 3, 45, 87, 23, 34, 55]

In [52]:
# insert(3,8) – This will add 8 at 3 index

list1 = [1,4,9,5,0,3,45,87,23,34]
list1.insert(2,95)   # isme 2 index hai or 95 value
print(list1)

[1, 4, 95, 9, 5, 0, 3, 45, 87, 23, 34]

In [53]:
#  pop(2) – It will delete the element at index 2 and return its value

list1 = [1,4,9,5,0,3,45,87,23,34]
list1.pop(1)  #  1 index ke element ko delete karna ke bad ki list 
print(list1)

[1, 9, 5, 0, 3, 45, 87, 23, 34]

In [54]:
# remove(21) – It will remove 21 from the last

list1 = [1,4,9,5,0,3,45,87,23,34]
list1.remove(9)  # delete number of 9 value 
print(list1)

[1, 4, 5, 0, 3, 45, 87, 23, 34]

#  Tuples in Python:

In [15]:
# ==>  A tuple is an immutable (can’t change or modified) data type in Python
# ==>  Once defined, tuple elements can’t be manipulated or altered.

tuple1 = ()#   empty tuple
# print(tuple1)

tuple1 = (1,)  # tuple with singale element
#print(tuple1)

tuple2 = (1,7,3,56,2,98,0,45)
# print(type(tuple2))
# print(tuple2)

# this is immutable

s=tuple2[0]
print(s)

1

In [61]:
# count(1) – It will return the number of times 1 occurs in a.

tuple2 = (1,7,3,56,2,98,0,45,3,1,1,3,3,3)
vs=tuple2.count(3)
print(vs)

5

In [21]:
# index(1) – It will return the index of the first occurrence of 1 in a.

tuple2 = (1,7,3,56,2,98,0,45,3,1,1,3,3,3)
vs = tuple2.index(5)
print(vs)

ValueError: tuple.index(x): x not in tuple

#  Practice Set

In [1]:
# ==> 1.  Write a program to store seven fruits in a list entered by the user.
# ==> 2.  Write a program to accept the marks of 6 students and display them in a sorted manner.
# ==> 3.  Check that a tuple cannot be changed in Python.
# ==> 4.  Write a program to sum a list with 4 numbers.
# ==> 5.  Write a program to count the number of zeros in the following tuple:
#         tuple1 = (12,44,0,4,8,9,5,76,0,234,0,23,11,0)

In [5]:
# Ans. 1 

fruits = []
fruit_name = input("Enter fruits name")

fruits.append(fruit_name)
print(fruits)

Enter fruits namevicky
['vicky']

In [7]:
# Ans. 2

marks = [85.00 , 55.90 ,76 , 66.83 , 51.99 ,69.00]
marks.sort()
print(marks)

[51.99, 55.9, 66.83, 69.0, 76, 85.0]

In [9]:
# Ans. 3

tuple1 = (25 ,"vicky" , 40.55,34,"ravi")
tuple1[2]=66
print(tuple1)

TypeError: 'tuple' object does not support item assignment

In [29]:
# Ans. 4

list1 = [15 ,5 , 25 , 90]
print(list1[0]+list1[1]+list1[2]+list1[3])

print(Sum(list1))

135

NameError: name 'Sum' is not defined

In [32]:
# Ans. 5

tuple1 = (12,44,0,4,8,9,5,76,0,234,0,23,11,0)
count_numbers = tuple1.count(0)
print(count_numbers)

4

# Dictionary and Sets

In [4]:
#  ==>  Dictionary is a collection of key-value pairs.

dic = {"name":"vicky","no":98402948}
print(type(dic))
print(dic)


# nested dict

#dic = {"name":["vicky","ram","lalaji"],"nu":{95:"vs","deepk":"kumar",{90:}}}
#print(dic)
#print(dic["name"])
#print(dic["nu"])

mydict = {"id":1234,"automation":["apple",123],"name":{"furit":"banana",}}
print(mydict['furit'])

<class 'dict'>
{'name': 'vicky', 'no': 98402948}

KeyError: 'furit'

# Properties of Python Dictionaries

In [36]:
# 1 .  It is unordered
# 2 .  It is mutable
# 3 .  It is indexed
# 4 .  It cannot contain duplicate keys

In [26]:
mydict2 = {"id":23,"name":"vicky"}
mydict2['id']=45,56
print(mydict2)
print(type(mydict2))

{'id': (45, 56), 'name': 'vicky'}
<class 'dict'>

In [1]:
mydict2 = {"id":23,"name":"vicky","id":4321} #  duplicat keys
print(mydict2['id'])

4321

# Dict Methods

In [5]:
mydict2 = {"id":23,"name":"vicky","id":4321}
print(mydict2.keys())
print(type(mydict2.keys()))     #  prints the keys of the dictionary


print(mydict2.values())
print(type(mydict2.values()))     #  prints the values of the dictionary

dict_keys(['id', 'name'])
<class 'dict_keys'>
dict_values([4321, 'vicky'])
<class 'dict_values'>