#   Fandamental Interview Questions

Q 1. what is prime no 

Ans. A number that can be divided exactly only by itself and 1

In [1]:
number = int(input("Enter number:- "))
for i in range (2,number):
    if number % i==0:
        print ("This is not Prime Number ",number)
        break
else :
    print("Yes this is prime Number",number)

Enter number:- 7
Yes this is prime Number 7

Q 2. WAP  for a reverce a string

In [36]:
str1 = "i love my india"
print(str1[::-1])

aidni ym evol i

In [37]:
# revers string using for loop

In [52]:
str1 = "love"
str2 = ""
for i in str1:
    str2 = i + str2
    print(str2)     # scope problam
print("carrect scope :-",str2)

l
ol
vol
evol
carrect scope :- evol

In [57]:
str3 = "i love my india"
str3.split()

['i', 'love', 'my', 'india']

In [116]:
Str4 = "   "
if str4.lstrip( ) :
    print("*")
else:
    print("45")

*

Q 3. WAP for reverce the order of  words in given sentens   "  i love my india"  ans "india my love i "

In [2]:
str2 = "i love my india"
a=str2.split()
print(type(a))
a.reverse()
print(a)
result = ' '.join(a)
print(result)

<class 'list'>
['india', 'my', 'love', 'i']
india my love i

Q 4. WAP for cunt A to Z  charecter in given sentence

In [15]:
# what is ascii no 

str4 = "abcdefghilmnopqrstvwxyz"
for i in str4 :
    print("this is ascii no : ",i ,ord(i))

this is ascii no :  a 97
this is ascii no :  b 98
this is ascii no :  c 99
this is ascii no :  d 100
this is ascii no :  e 101
this is ascii no :  f 102
this is ascii no :  g 103
this is ascii no :  h 104
this is ascii no :  i 105
this is ascii no :  l 108
this is ascii no :  m 109
this is ascii no :  n 110
this is ascii no :  o 111
this is ascii no :  p 112
this is ascii no :  q 113
this is ascii no :  r 114
this is ascii no :  s 115
this is ascii no :  t 116
this is ascii no :  v 118
this is ascii no :  w 119
this is ascii no :  x 120
this is ascii no :  y 121
this is ascii no :  z 122

In [4]:
s = input("Enter str")
s1 = ""
count =0
for i in range(97,123):
    for h in s:
        print(h)
        if i in s1 :
            count = count + 1
    print(i,chr(int(count))

SyntaxError: unexpected EOF while parsing (<ipython-input-4-a54a647d17ea>, line 11)

In [86]:
v = 97,122,99,111,115,98
for i in v :
    print(chr(i))

a
z
c
o
s
b

In [97]:
str4 = "uihfuienfjhfgueufdjvbdiiufewoiwpqkeladmdmksnjkaakjfioefjdklmdiosjfoief"
for i in str4:

u
i
h
f
u
i
e
n
f
j
h
f
g
u
e
u
f
d
j
v
b
d
i
i
u
f
e
w
o
i
w
p
q
k
e
l
a
d
m
d
m
k
s
n
j
k
a
a
k
j
f
i
o
e
f
j
d
k
l
m
d
i
o
s
j
f
o
i
e
f

Q.5  WAP for print * sterctures

In [107]:
for row in range(5):
    for column in range(row):
        print("*",end="")
    print()

*
**
***
****

In [110]:
for row in range(6,0,-1):
    for i in range(1,row,+1):
        print("*",end="")
    print()

*****
****
***
**
*

In [126]:
for row in range(6):
    for i in range(6-row):
        print(" ",end="")
    for j in range(row):
        print("3",end="")
    print()

     3
    33
   333
  3333
 33333

In [136]:
for row in range(6):
    for i in range(6-row):
        print(" ",end="")
    for j in range(2*row-1):
        print("3",end="")
    print()

     3
    333
   33333
  3333333
 333333333

In [142]:
for row in range(6):
    for i in range(6-row):
        print(" ",end="")
    for j in range(2*row-1):
        print("3",end="")
    print()    
for row2 in range(6,0,-1):        
    for s in range(6-row2):
        print(" ",end="")
    for h in range(2*row2-1):
        print("3",end="")
    print()

     3
    333
   33333
  3333333
 333333333
33333333333
 333333333
  3333333
   33333
    333
     3

Q .  what is palindrom no 
Ans. A polyandrome no which  come back when reversed 
Exa :- 252, 555 , 232

Q 6. WAP for palindrom no

In [155]:
num = int(input("Enter no :- "))
rev = 0
v = num
while (num>0):
    rev = (rev*10)+num%10
    num=num//10
if v == rev:
    print("it is polindrome no :=",v)
else:
    print("it is not polindrome no := ",v)

Enter no :- 234
it is not polindrome no :=  234

Q 7. wap reverse no

In [ ]:
num = int(input("Enter no :- "))
rev = 0
while (num>0):
    rev = num%10
print(rev)
 #   num=num//10
#print("this is :- ",rev)

Enter no :- 234

Q 8. WAP for armstrongn no

kisi shankya ka quab nikal kar add karne pr agar same no aate hai use armstrong no kahte hai

In [158]:
num = int(input("Enter no :- "))
sum = 0
orig = num
while (num>0):
    sum = sum+(num%10)*(num%10)*(num%10)
    num = num//10
#    print(sum)
if orig == sum :
    print("this is armstrongn no :- ",orig)
else:
    print("this is not armstrongn no :- ",orig)

Enter no :- 153
27
152
153
this is armstrongn no :-  153

In [163]:
a = " i love my india"
for i in a :
    if i == " ":
        x = i.capitalize()
    print(x)

In [161]:
a = "i love my india"
x = a.capitalize()
print(x)

I love my india

In [171]:
lst = [50,"Python","JournalDev",100,45,"vicky",70]
lst_tuple = [x for x in zip(*[iter(lst)]*2)]
print(lst_tuple)

[(50, 'Python'), ('JournalDev', 100), (45, 'vicky')]

# Array in python

In [175]:
import array
aaa = array.array('i',[1,3,2,4,6])
print(aaa[1])

3

In [2]:
34%10

4

In [3]:
a = 990
a/10

99.0

In [4]:
43%10

3

In [5]:
43/10

4.3

In [6]:
4.3//10

0.0

In [7]:
43//10

4

In [10]:
s=''
for  i in "abc":
    s=i+s
print(s)

cba

# list operations

In [13]:
# replace

name = ['vicky','sona','ram ji']
name[2]="jai shree ram"
print(name)

['vicky', 'sona', 'jai shree ram']

In [16]:
# insert

name.insert(0,"kartoos")
print(name)

['kartoos', 'vicky', 'kartoos', 'kartoos', 'sona', 'jai shree ram']

In [17]:
# sorted

name.sort()
print(name)

['jai shree ram', 'kartoos', 'kartoos', 'kartoos', 'sona', 'vicky']

In [19]:
# delete

del name[1]
print(name)

['jai shree ram', 'kartoos', 'sona', 'vicky']

In [20]:
#  append

name.append("lal")
print(name)

['jai shree ram', 'kartoos', 'sona', 'vicky', 'lal']

# reverce words in string

In [12]:
str = "enter your string"
i = str.split(" ")
g =i[-1::-1]
print(g)
v = ' '.join(g)
print(v)

['string', 'your', 'enter']
string your enter

# selary question

In [1]:
def user(name,selary=10000):
    if selary<10000 or selary > 10000:
        return({"name":name,"selary":selary})
    return({"name":name,"selary":selary})
user(name="vicky")

{'name': 'vicky', 'selary': 10000}

# as list ko dic me key bana sakte hai ya nhi

In [2]:
bd = {["vicky",123]:"ha bana sakte hai"}
print(bd)

TypeError: unhashable type: 'list'

In [10]:
a = [{"name":"vicky","age":21,"gender":"male"},{"name":"Ram","gender":"male"}]
list2 = []
print(["age"])
# for i3 in a:
#     if a["age"] > 20 :
#         data = a["age"]
#         list2.append(data)
# print(list2)

TypeError: list indices must be integers or slices, not str

In [15]:
a = [{"name":"vicky","gender":"male"},{"name":"Ram","age":12,"gender":"male"},{"name":"lal","age":23,"gender":"male"}]
list2 = []
# print(a["age"])
for i3 in a:
   # print(i3)
#     data23 = i3['age']
   # print(data23)
    try:
        if i3['age'] > 20:
           # print("yes")
            list2.append(i3['age'])
           # print(list2)
        else:
            pass
           # print("nothin age your mantion to uper")
    except KeyError:
        pass
#         print("this key not there")
print(list2)

nothin age your mantion to uper
[23]

In [4]:
a1 = [1,3,5,7]
a2 = []
for ele in a1:
    data1 = ele ** 2
    a2.append(data1)
print(a2)

[1, 9, 25, 49]

In [ ]:
lambda a1 :

In [ ]:
# Q. wap can use lambda function so a list element one by one squire output
# a1 = [1,3,5,7]  output ==> [1, 9, 25, 49]

In [8]:
# ANS 

a1 = [1,3,5,7]
new = list(map(lambda x : x ** 2,a1))
print(new)

[1, 9, 25, 49]

In [3]:
# Q. wap given string in count of words 
str25 = "In Brazil they drive on the right-hand side of the road. Brazil has a large coastline on the eastern side of South America"

In [13]:
# ANS 

for i5 in range(len(str25)):
    print(i5)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121

In [1]:
# count of word in string 

str1 = input("Please Enter your Own String : ")
total = 1

for i in range(len(str1)):
    
    if(str1[i] == ' ' or str1 == '\n' or str1 == '\t'):
        total = total + 1

print("Total Number of Words in this String = ", total)

#  exa :- hi i am vikash kumar saini and you lagur, hello and you are mad vikash

Please Enter your Own String : hi i am vikash kumar saini and you lagur, hello and you are mad vikash
Total Number of Words in this String =  15