# selary question

In [ ]:
a = 10000
def user(name,selary=10000):
    if selary<10000 or selary > 10000:
        return({"name":name,"selary":selary})
    return({"name":name,"selary":selary})
user(name="vicky")

In [ ]:
# ham list ko as key bana sakte hai ya nhi

In [ ]:
bd = {["vicky",123]:"ha bana sakte hai"}
print(bd)

# list ko jodna & to concatenate lists

In [ ]:
a = [1, 2]
b = [2, 3]
a.extend(b)
print(a)

In [ ]:
c = [9,8]
d = [90,45,'vicky']
c += d
print(c)

In [ ]:
import os
from dotenv import load_dotenv

load_dotenv()

GCP_PROJECT_ID = os.getenv('abc')
print(GCP_PROJECT_ID)
#env_var = os.environ.get['ENV']

In [ ]:
env_var = os.environ.get()
print(env_var)

In [ ]:
7%2

In [ ]:
5 % 7

In [ ]:
3%2

In [ ]:
6%2

In [ ]:
2%4

In [ ]:
7/2

In [ ]:
2/7

In [ ]:
2**3

In [ ]:
3**2

In [ ]:
2**4

In [ ]:
4 // 3

In [ ]:
6 // 4

In [ ]:
25 != 8

In [ ]:
a = 5
b = 2
c = 3

In [ ]:
a = b + c
print(a)

In [ ]:
b = a + c
print(b)

In [ ]:
a += b
a

In [ ]:
a -= b
a

In [ ]:
b %= a
b

In [ ]:
d = 4
e = 8
f = 9

In [ ]:
d > e and d > f

In [ ]:
d > e and d < f

In [ ]:
d < e and d < f

In [ ]:
d > e

In [ ]:
not d > e

In [ ]:
not d < e

In [ ]:
d > e or d > f

In [ ]:
d < e or d > f

In [ ]:
d is e

In [ ]:
d is not e

In [ ]:
g = 4
d is g

In [ ]:
d is not g

In [ ]:
h = 'bchfhu'
h in 'bchfhu'

In [ ]:
q = [89,'hf',77,'fhg','d']
u = 'd'
u in q

In [ ]:
u not in q

In [ ]:
u = 33
u not in q

In [ ]:
x = 8
y = 5
z = 7

In [ ]:
# Q  . write a program of print odd number between  1 to 100

In [ ]:
give_no = input("enter your no . :", )
# print(give_no)
# print(type(give_no))
ele = int(give_no)
# print(type(ele))
# ele
for i in range(1,ele + 1):
    if i % 2 == 0 :
        pass
    else:
        print("no. is odd ", i)

In [ ]:
give_no = input("enter your no . :", )
# print(give_no)
# print(type(give_no))
ele = int(give_no)
# print(type(ele))
# ele
for i in range(1,ele +1):
    if i % 2 == 0 :
        print("no is even", i)
    else:
        print("no. is odd :- ",     i)

In [ ]:
for k in range(4):
    print("*",end ='')

In [ ]:
2 * 0

In [ ]:
0 - 1

In [ ]:
dd = "i am namchi gunda ha ha "
vv = 'gunda ' .join("spret")
print(vv)

In [ ]:
set1 = {"jskfj",6890,987,'hjj',78,'hjj', 78}
# print(type(set1))
# set1
# set1[0]
# print(set1)
for iei in set1:
    print(iei)   #  this is unorderd

In [ ]:
class Ram :
    def __init__(self, name , contact , email):
        self.name = name
        self.contact = contact
        self.email = email
    def myfunc (self):
        print("my name is " + self.name)
    
R = Ram ("shita", 95095,"ram55@gmail.com")
R1 = Ram("lal bag",12345,"lala123@gmail.com")
print(R.name)
print(R1.contact)
R.myfunc()
R1.myfunc()

In [ ]:
# Q.  remove duplicate elements in the list

In [ ]:
list1=[10,"hi",20,30,10,30,"vicky","hi"]
list2=[]
for ele in list1:
    if ele not in list2:
        list2.append(ele)
print("duplicate free list :- ", list2)

In [ ]:
# how to leanth in list

In [ ]:
list21 = [12,'ffd',33,423,"dsf",'dsdsffsf',3232,32222,222,2,2,2,2,]

list22 = 0

for i2 in list21:
    list22 = list22+1
print(list22)

In [ ]:
len2 = len(list21)
print(len2)

In [1]:
# parectics of list method
list12 = [143, 'jk',43,'ram']

# 1. append method
list12.append(3455)
print(list12)

[143, 'jk', 43, 'ram', 3455]

In [2]:
list13 = ['dsd',9484,'dfdf',]
list12.append(list13)
print(list12)

[143, 'jk', 43, 'ram', 3455, ['dsd', 9484, 'dfdf']]

In [3]:
# 2. extend method

list12.extend("123321")
print(list12)

[143, 'jk', 43, 'ram', 3455, ['dsd', 9484, 'dfdf'], '1', '2', '3', '3', '2', '1']

In [4]:
list14 = ['dd',34,'fdfd']
list12.extend(list14)
print(list12)

[143, 'jk', 43, 'ram', 3455, ['dsd', 9484, 'dfdf'], '1', '2', '3', '3', '2', '1', 'dd', 34, 'fdfd']

In [9]:
# sort method
list15 = [12,65,33,67,90,45,24]
list15.sort()
print(list15)

[12, 24, 33, 45, 65, 67, 90]

In [10]:
list16 = ['a','z','d','c']
list16.sort()
list16

['a', 'c', 'd', 'z']

In [11]:
list17 = ['abcd','uxyz','ef']
list17.sort()
print(list17)

['abcd', 'ef', 'uxyz']

In [24]:
list18 = ['asdf','zbac','gjk','czak']
list18.sort()
list18

['asdf', 'czak', 'gjk', 'zbac']

In [25]:
# pop method

list18.pop(0)
print(list18)

['czak', 'gjk', 'zbac']

In [30]:
# index method
inde = list12.index('fdfd')
print(list12)
print("index no :-", inde)

[143, 'jk', 43, 'ram', 3455, ['dsd', 9484, 'dfdf'], '1', '2', '3', '3', '2', '1', 'dd', 34, 'fdfd']
index no :- 14

In [33]:
# insert method
list18.insert(1,"jgj")
list18

['czak', 'jgj', 'gjk', 'zbac']

In [35]:
# remove method
list18.remove('zbac')
print(list18)

['czak', 'jgj', 'gjk']

In [51]:
# str concanet 

name = 'vicky'
greting = 'good morning'
print("hello " + name,'' + greting)

hello vicky good morning

In [3]:
dict23 = {}
dict23['c'] = 1
dict23

{'c': 1}

In [2]:
# dictionary query 

dict32 = {"name":"lalu",12:"fhj","no":567}
dict32

{'name': 'lalu', 12: 'fhj', 'no': 567}

In [6]:
dict32.keys()

dict_keys(['name', 12, 'no'])

In [7]:
dict32.values()

dict_values(['lalu', 'fhj', 567])

In [26]:
dict32.items()

dict_items([('name', 'lalu'), (12, 'fhj'), ('no', 567)])

In [19]:
import array as arr

my_array = arr.array('r',[1,3,4,5,5])
print(type(my_array))

ValueError: bad typecode (must be b, B, u, h, H, i, I, l, L, q, Q, f or d)

In [21]:
my_array = arr.array('d',[1,3,4,5,5])
print(type(my_array))

<class 'array.array'>

In [22]:
#  what is function in python and type of function arguments explain

In [23]:
# ANS . 

#  function is a block of code / collecation of code which is execued when it is called
#  type of function arguments
#  1.  Default function argument
#  2.  keyword argument
#  3.  positional argument
#  4.  abitrary keyword argument
#  5.  abitrary positional argument

In [51]:
# 1. Default argument 

def add (a,b=3,c=5):
    return (a+b+c)
print(add(2))

10

In [53]:
def add1 (a,b=3,c=5):
    return (a+b+c)
print(add1(2,4,6))

12

In [54]:
#  keyword argument
def add2 (a,b=5,c=10):
    return (a+b+c)
print(add2(b = 2, c = 5, a = 9))

16

In [55]:
def add3 (a,b=5,c=10):
    return (a+b+c)
print(add3( a = 9))

24

In [ ]:
# positional argument

In [59]:
def add4(a,b,c):
    print("a",a)
    print("b",b)
    print("c",c)
    return a+b+c
add4(2,4,3)

a 2
b 4
c 3

9

In [64]:
# Variable length arguments / abitrary positional argument

def fun(*name,x):
    print(x)
    for i13 in name:
        print(i13)
name_list = ["ram", "lala", "vicky", "raju"]
fun (*name_list,x = 9)

9
ram
lala
vicky
raju

In [60]:
def fun1(a,b,c):
    print(a,b,c)
fun1(a =  "ramu",b = "raju", c = "baba")

ramu raju baba

In [66]:
# keyword Variable length arguments / abitrary keyword argument
def fun2 (**args):
    for key, value in args.items():
        print(key)

rs = {"name":"vicky","Roll":22,"email":"vvhfrn@gmail.com","address":"jaipur"}
fun2(**rs)

name
Roll
email
address

In [15]:
d = {"cc":"jdfj",445:44}
d["name"]="vicky"
d

{'cc': 'jdfj', 445: 44, 'name': 'vicky'}

In [6]:
d.pop("name")
d

{'cc': 'jdfj', 445: 44}

In [8]:
d.popitem()
d

{}

In [16]:
f = d.pop("name")
print(f)
print(d)

vicky
{'cc': 'jdfj', 445: 44}

In [18]:
# make a class parsion

class parsion:
    def __init__(self, name ,age):
        self.name = name
        self.age = age
        
p1 = parsion("vicky",67)
print(p1.name)
print(p1.age)

vicky
67

In [21]:
class paaa():
    name = "ccc"
p = paaa()
print(p.x)

AttributeError: 'paaa' object has no attribute 'x'

In [ ]:
# Q. what is constructor in python 
# ANS.  python is supports of specials type of method so it is called 
#       constructor for initionlize the intance varibles of a class
#

In [31]:
# constructor

class mobile:            #   constructore called
    def __init__(self):
        print("called mobile constructor")
mm = mobile()

called mobile constructor

In [33]:
# without argument constructor

class phone:
    def __init__(self):
        self.name = "jdhdh"
        
p1 = phone()
print(p1.name)

jdhdh

In [35]:
# with Arguments constructor

class model2:
    def __init__ (self, name, price = 34000):
        self.name = name
        self.price = price
m = model2("car")

print(m.price)

34000

In [43]:
list325 = [1,8,94,8]
list325[-1::-1]

[8, 94, 8, 1]

In [55]:
str343 = ""
str232 = "bangalore"
print(reverse(str232))

NameError: name 'reverse' is not defined

In [51]:
str343 = str343 + "a"

In [52]:
str343 = str343 + "b"

In [53]:
str343

'ab'

In [59]:
# reverse a string without inbuild function

str34 = "asdfghjkl"
str34[::-1]

'lkjhgfdsa'

In [80]:
# wap swape tow last element 1st position like [1,3,89,34,68,54] output [68,54,1,3,89,34]
list98 = [1,3,89,34,68,54]
list99 = []
for i5 in list98:
    if i5 == 68 or 54:
        print(i5)
    
# print(list99)
# list98

1
3
89
34
68
54

In [89]:
mylist = {1:3, 2:5, 3:6}
mylist[3], mylist[2] = mylist[2], mylist[3]
print(mylist) # [2, 1, 3]

{1: 3, 2: 6, 3: 5}